{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}

<div class="signup">
    <h5>Login</h5>
    <form method='post' class="form">
        {% csrf_token %}
        <div class="email">
            {% render_field form.login class='form-control' placeholder='Email' %}
        </div>
        <div class="password">
            {% render_field form.password class='form-control' placeholder='Password' %}
        </div>
        <div class="change">
            <a href="{% url 'reset_password' %}">Forgot password?</a>
        </div>
        <div class="confirm">
            <button class="btn" type="submit">Login</button>
        </div>
    </form>
</div>

{% endblock %}