{% extends 'app/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
{% endblock %}


{% block content %}

<div class="container">
    <h3>Reset Your Password</h3>
    <form method="post">
      {% csrf_token %}
      
      {% for error in form.errors %}
        <p class="error-message">{{ error }}</p>
      {% endfor %}

      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}
      
      {{ form.new_password2.label_tag }}
      {{ form.new_password2 }}
      
      <input type="submit" value="Reset Password">
    </form>
  </div>

{% endblock %}