{% extends 'app/base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="profile">
        <h5 class="title">Profile</h5>
        <table class="info">
            <tbody>
                <tr>
                    <th class="header">Name</th>
                    <td class="data">{{ user_data.first_name }} {{ user_data.last_name }}</td>
                </tr>
                <tr>
                    <th class="header">Email</th>
                    <td class="data">{{ user_data.email }}</td>
                </tr>
                <tr>
                    <th class="header">Telephone</th>
                    <td class="data">{{ user_data.tel }}</td>
                </tr>
                <tr>
                    <th class="header">Entry date</th>
                    <td class="data">{{ user_data.created }}</td>
                </tr>
            </tbody>
        </table>
        <div class="edit">
            <a href="{% url 'profile_edit' %}">Edit</a>
        </div>
    </div>
    <div class="product">
        {% for order_item in order_items %}
            <li>{{ order_item.item.nome }} - Quantidade: {{ order_item.quantity }}</li>
        {% endfor %}
    </div>
</div>

{% endblock %}