.title {
    text-align: center;
    padding: 2rem 0;
}

.cart {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 20px auto;
}

.orders {
    width: 70%;
}

.order-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.image img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.item-info {
    flex-grow: 1;
}

.item h3 {
    margin: 0;
    color: #24292e;
}

.remove {
    color: rgb(88, 160, 255);
    cursor: pointer;
}

.price {
    text-align: right;
}

.total, p {
    font-weight: bold;
    font-size: 1.2rem;
}

.pay {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}
